.login {
  width: 360px;
  margin: auto;
  min-height: 260px;
}

.login_form {
  min-height: 260px;
  background: #fff;
  max-width: 360px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: min-height .5s;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 355px;
  transition: top .5s;
  top: 60px;
  position: absolute;
  opacity: 0;
  z-index: -100;
}

@keyframes opacity1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: .1;
  }
  20% {
    opacity: .2;
  }
  30% {
    opacity: .3;
  }
  40% {
    opacity: .4;
  }
  50% {
    opacity: .5;
  }
  60% {
    opacity: .6;
  }
  70% {
    opacity: .7;
  }
  80% {
    opacity: .8;
  }
  90% {
    opacity: .9;
  }
  100% {
    opacity: 1;
  }
}

.sign-up-input {
  width: 270px;
  height: 50px;
  background: #F0F0F0;
  border: none;
  padding-left: 15px;
  margin-bottom: 15px;
}

.sign-up-btn {
  width: 270px;
  height: 50px;
  background: #47A74C;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.sign-up-text {
  color: #b3b3b3;
  font-size: 12px;
}

.sign-up-text a {
  color: #4CAF50
}

.sign-up-btn:hover {
  background: #3E9E43;
}

.sign-up-btn:active {
  background: #2F8F34;
}

.login-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 260px;
  position: absolute;
  transition: top, opacity .5s;
  z-index: 100;
}

@keyframes opacity2 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: .9;
  }
  20% {
    opacity: .8;
  }
  30% {
    opacity: .7;
  }
  40% {
    opacity: .6;
  }
  50% {
    opacity: .5;
  }
  60% {
    opacity: .4;
  }
  70% {
    opacity: .3;
  }
  80% {
    opacity: .2;
  }
  90% {
    opacity: .1;
  }
  100% {
    opacity: 0;
  }
}

.login-in-input {
  width: 270px;
  height: 50px;
  background: #F0F0F0;
  border: none;
  padding-left: 15px;
  margin-bottom: 15px;
}

.login-in-btn {
  width: 270px;
  height: 50px;
  background: #47A74C;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.login-in-btn:hover {
  background: #3E9E43;
}

.login-in-btn:active {
  background: #2F8F34;
}

.login-in-text {
  color: #b3b3b3;
  font-size: 12px;
}

.login-in-text a {
  color: #4CAF50
}